@{
    ViewData["Title"] = "Registro de Vendas por periodo";
}

<h2>@ViewData["Title"]</h2>

<style type="text/css">

    label {
        text-align-last: left;
        font-size: 18px;
    }


</style>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaSimples"> <!--pega a ação e chama no controlador-->
            <div class="form-group">

                <h3>Busca Simples</h3>

                <div class="form-group">
                    <label for="dataMinima" class="col-lg-3 control-label">Data minima</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataMinima" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="DataMaxima" class="col-lg-3 control-label">Data maxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="DataMaxima" class="form-control" />
                    </div>
                </div>
               
                <button type="submit" class="btn btn-success left">Enviar</button> <!-- envia a ção pro asp-action="BuscaSimples" -->

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaEmGrupo">
            <div class="form-group">

                    <h3> Busca Em Grupo</h3>

                    <div class="form-group">
                        <label for="dataMinima" class="col-lg-3 control-label">Data minima</label>
                        <div class="col-lg-10">
                            <input type="date" name="dataMinima" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="DataMaxima" class="col-lg-3 control-label">Data maxima</label>
                        <div class="col-lg-10">
                            <input type="date" name="DataMaxima" class="form-control" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success left">Enviar</button>

            </div>
            
        </form>
    </div>
</div>
