@model Projeto_SistemaWeb.Models.ViewMoldes.SellerFormViewMoldel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Funcionario</h4>
<hr />

<div class="row">

    <div class="col-md-5">

        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id"/>
            <div class="form-group">
                <label asp-for="Seller.Name" class="form-control-static"></label> <br />
                <input asp-for="Seller.Name" calss="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="form-control-static"></label> <br />
                <input asp-for="Seller.Email" calss="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DataNascimento" class="form-control-static"></label> <br />
                <input asp-for="Seller.DataNascimento" calss="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.SalarioBase" class="form-control-static"></label><br />
                <input asp-for="Seller.SalarioBase" calss="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select>
                <!-- asp-items = constroi os intens de uma caixa de seleção conforme os itens que for passado -->
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>

    </div>
</div>
@{
}
