@{
    ViewData["Title"] = "Home";
}



<div id="container">

    <h1 class="h1_modificada">Projeto Sitema de Gerenciamento Vendas</h1>

    <img id="imagem" src="~/images/IMG_20220108_182356.jpg" />

    <p class="text-left texto">Possivel melhoria, não sou um bom front end ainda haha, foco no banck end por enquanto </p>


    <div class="links">
        <a class=" corlink" href="https://github.com/matheushenriquemoreno" target="_blank"> GitHub </a>
        <a class=" corlink" href="https://www.instagram.com/ma_theus_henrique/" target="_blank"> Instagram </a>
        <a class=" corlink" href="https://www.linkedin.com/in/matheus-henrique-soares-moreno-2bb974205/" target="_blank"> Linkdin </a>
    </div>



</div>
